.container {
  padding: 0 16px;
}

.titleContainer {
  display: flex;
  justify-content: center;
}

.variableListContainer {
  display: flex;
  padding-bottom: 24px;
}

.conditionButtonContainer {
  display: flex;
  justify-content: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}

.controlButtons {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 16px;
}

.buttonSpace {
  width: 48px;
}